---
import Social from "@components/Social.astro";
import { getImagePath } from "@lib/imagePath.astro";
import { Image } from "astro:assets";

interface Props {
  slug: string;
  id: string;
  data: {
    name: string;
    role: string;
    social: string[];
  };
}

const {
  slug,
  id,
  data: { name, role, social },
} = Astro.props;
const imagePath = getImagePath(slug);
---

<li
  class="card shadow-none grayscale transition-all hover:shadow-lg hover:grayscale-0"
>
  <a href=`team/${slug}`>
    <Image
      src={imagePath}
      alt={name}
      class="aspect-[3/2] w-full rounded-2xl object-cover"
      transition:name=`member ${id} image`
    />
    <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-dark" transition:name=`member ${id} name`>
      {name}
    </h3>
    <p class="text-base leading-7 text-gray-600">{role}</p>
  </a>
  <Social className="social-icons gap-x-6 flex mt-6" source={social} />
</li>
