---
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { title, description, info } = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(title)} />
      <div class="section row pb-0">
        <div class="col-12 md:col-6 lg:col-7">
          <form
            class="contact-form"
            name="contact"
            action="/success"
            data-netlify-recaptcha="true"
            netlify-honeypot="bot-field"
            data-netlify="true"
            method="post"
          >
            <input type="hidden" name="bot-field" />
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="name"
                type="text"
                placeholder="Name"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="email"
                type="email"
                placeholder="Your email"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="subject"
                type="text"
                placeholder="Subject"
                required
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-textarea w-full rounded-md"
                rows="7"
                placeholder="Your message"></textarea>
            </div>
            <div data-netlify-recaptcha="true" class="my-2.5"></div>
            <button type="submit" class="btn btn-primary"> Send Now</button>
          </form>
        </div>
        <div class="content col-12 md:col-6 lg:col-5">
          <h4 set:html={markdownify(info?.title)} />
          <p class="mt-4" set:html={markdownify(info?.description)} />
          <ul class="contact-list mt-5 list-none pl-0">
            {
              info?.contacts?.map((contact: string) => (
                <li>
                  <strong class="text-dark" set:html={markdownify(contact)} />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2477.5325906983144!2d-0.1943456222634481!3d51.613452371837596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487617591fed1069%3A0xdb8cac1e92d0f188!2s41%20Walmington%20Fold%2C%20London%20N12%207LD!5e0!3m2!1sen!2suk!4v1726510694267!5m2!1sen!2suk" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</Base>
