---
import readingTime from "@lib/utils/readingTime";
import Author from '@components/Author.astro';
import { Image } from "astro:assets";
import { markdownify } from "@lib/utils/textConverter";
import Share from "@components/Share.astro";

const { post, authors } = Astro.props;
const { Content } = await post.render();
const { title, image } = post.data;
---

<section class="section">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 md:col-8">
        <article class="text-center">
          <h1 set:html={markdownify(title)} transition:name=`blog ${post.id} title` class="h2 my-6 text-left" />
          {
            image && (
              <Image
                src={image}
                height={500}
                width={1000}
                alt={title}
                class="rounded-lg"
                transition:name=`blog ${post.id} image`
              />
            )
          }
          <small transition:name=`blog ${post.id} description`>{post.data.description}</small>


          {authors.map(p => (
            <a href=`/team/${p.slug}`>
              <Author slug={p.slug} name={p.data.name} />
            </a>
          ))}

          <div class="content mb-16 text-left">
            <span>{readingTime(post.body)}</span>
            <Content />
            <!-- <Markdown content={post.body} components={shortcodes} /> -->
          </div>
        </article>
        <p>Don't forget to share this post!</p>
        <Share title={title} slug={Astro.url.pathname} />
      </div>
    </div>
  </div>
</section>
